//PRIMARY COLORS
$primary-black: #13182C;
$primary-indigo:#2E66E5;
$primary-white:#FFFFFF;

//SECONDARY COLORS
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

//BACKGROUND COLORS
$secondary-graphite: #232940;
$secondary-lightGrey: #F7F8F9;

//SUPPORTING COLORS
$support-green: #158463;
$support-red: #C94515