@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;


.inventory {
  &__item {
    display: flex;
    flex-direction: $flex-direction;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    padding: 2rem;
    border-top: 1px solid $cloud;
    @include tablet {
      flex-direction: row;
      height: 7rem;
      
      border: none;
      border-bottom: 1px solid $cloud;
    }
    &__label {
      display: flex;
      justify-content: flex-start;
      margin: 0 2rem 0 0;
      color: $slate;
      width: 31%;
      @include mobile-body-large;
      @include tablet {
        display: none;
      }
    }
    &__value {
      display: flex;
      justify-content: flex-start;
      margin: 0 1.5rem 2rem 0;
      width: 31%;
      @include mobile-subheader;
      font-weight: 400;
      @include tablet {
        width: 15%;
        height: 2rem;
        margin-right: 0;
        justify-content: flex-start;
      }
    }
    &__name {
      width: 100%;
      @include mobile-subheader;
      &-link {
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      width: 50%;
      color: $indigo;
      @include tablet {
        width: 20%;
        height: 2rem;
        display: flex;
        justify-content: flex-start;
        
      }
      }
    }
    &__category {
      @include tablet {
        display: flex;
        justify-content: flex-start;
        width: 20%;
        height: 2rem;
      }
    }
    &__stock {
      width: 15%;
    }
    &__status {
      &--green {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $green;
        background-color: rgba(21, 132, 99, 0.07);
        width: 7rem;
        height: 2rem;
        border-radius: 20px;
        font-weight: 600;
        @include tablet {
          margin-right: 3rem;
        }
      }
      &--red {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $red;
        background: rgba(201, 69, 21, 0.07);
        border-radius: 20px;
        width: 8.6rem;
        height: 2rem;
        font-weight: 600;
        @include tablet {
          margin-right: 1.5rem;
        }
      }
    }
    &__quantity {
      @include tablet {
        width: 15%;
        display: flex;
        justify-content: flex-start;
        margin-left: 3vw;
      }
    }
    &__warehouse-name {
      width: 18%;
    }
    &__delete {
      margin-top: 7rem;
      @include tablet {
        display: none;
        margin-right: 2rem;
      }
      &-tablet {
        display: none;
        @include tablet {
          display: initial;
        }
      }
    }
    &__edit {
      margin-top: 18rem;
      @include tablet {
        margin: 0;
      }
    }
    
  }
}