@use '../../styles/partials/mixins'as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.inventory {
  &__item {
    display: flex;
    flex-direction: $flex-direction;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    padding: 2rem;
    border: 1px solid $slate;
    
    &__label {
      display: flex;
      justify-content: flex-start;
      margin: 0 2rem 0 0;
      color: $slate;
      width: 30%;
      @include mobile-labels;
      
    }
    &__value {
      display: flex;
      justify-content: flex-start;
      margin: 0 4rem 2rem 0;
      width: 30%;
      @include mobile-labels;
    }
    &__name-link {
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      width: 30%;
      color: $indigo;
    }
    &__delete {
      margin-top: 5rem;
      
    }
    &__edit {
      margin-top: 8rem;
    }
  }
}